body {
    font-family: Arial, sans-serif;
    background-color: #d96631;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #5cade3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: rgb(225, 215, 215);
    border: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
